**logs.json
**raw_logs.json
**__pycache__/
**.ipynb_checkpoints/
**resultados
**output.png
**raw_logs.csv
**df_normalized.csv
**speed_prediction_logs/
**speed_prediction.csv
**speed_prediction_normalized.csv